<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Project Human</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../../static/styles/main.css" rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <main class="main-content" th:fragment="content">

        <main class="main-content">
            <h1 class="not-found">Error 404 :/
                <a href="#" th:href="@{/}">Home</a>
                <a href="#" th:href="@{/login}">Log in</a>
            </h1>
        </main>

    </main>
</div>
</body>
</html>