<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

    <main class="main-content" layout:fragment="content">

        <form action="#" class="form-add" method="post" th:action="@{/add}">
            <h2>Add a task</h2>
            <div class="form-inside" th:object="${task}">
                <input name="title" placeholder="title. Do a workout" required th:field="*{title}" type="text">
                <input maxlength="70" name="description" placeholder="description. 30 minutes of running outside the city" th:field="*{description}"
                       type="text">
                <button type="submit">Save</button>
            </div>
        </form>

    </main>
</div>
</body>
</html>