<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Human</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">

    <nav class="navbar">
        <a href="#" th:href="@{/}"><h1 class="nav-title">Project Human</h1></a>
        <ul class="nav-links">
            <li class="nav-item"><a href="#">Help</a></li>
            <li class="nav-item"><a href="#">Log in</a></li>
        </ul>
    </nav>

    <form action="#" class="form-add" method="post">
        <h2>Add a task</h2>
        <div class="form-inside">
            <input type="text" name="title" placeholder="title. Do a workout" required>
            <input type="text" name="description" placeholder="description. 30 minutes of running outside the city">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>