<!doctype html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <main class="main-content" layout:fragment="content">

    <form class="form-add" method="post" th:action="@{/categories/edit}" th:object="${category}">
      <h2>Edit Category</h2>
      <div class="form-inside">
        <input hidden th:field="*{id}" th:value="${category.id}">
        <input name="title" th:placeholder="${category.name}" required th:field="*{name}" type="text">
        <button type="submit">Save</button>
      </div>
    </form>

  </main>
</div>
</body>
</html>