<!doctype html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://kit.fontawesome.com/eebc050055.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <h1 class="home__title">
            <span class="home__title-word--primary">Better</span>
            <span class="home__title-word--secondary">Easier</span>
            <span class="home__title-word--accent">Simplier</span>
        </h1>
        <h2 class="home__title--second">I present to you Project Human <br><span>the ultimate way to optimize and improve your life</span></h2>
        <section class="home__section">
        </section>
    </main>
</div>
</body>
</html>