<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Project Human</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">

    <nav class="navbar">
        <a href="#" th:href="@{/}"><h1 class="nav-title">Project Human</h1></a>
        <ul class="nav-links">
            <li class="nav-item"><a href="#">Help</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a href="#" th:href="@{/login}">Log in</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item"><a href="#" th:href="@{/logout}">Log out</a></li>
        </ul>
    </nav>

    <form action="#" class="form-add" method="post" th:action="@{/login}">
        <h2>Log into your account</h2>
        <div class="form-inside">
            <input type="text"name="username" placeholder="email" required>
            <input type="password" maxlength="200" name="password" placeholder="password">
            <button type="submit">Login</button>
        </div>
        <a href="#" th:href="@{/register}">Dont have an acoount? <p>Register</p></a>
    </form>
    <footer>
        Github: szvmczekk
    </footer>
</div>
</body>
</html>