<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">

    <main class="main-content" layout:fragment="content">

    <form action="#" class="form-add" method="post" th:action="@{/login}">
        <h2>Log into your account</h2>
        <div class="form-inside">
            <input type="text"name="username" placeholder="email" required>
            <input type="password" maxlength="200" name="password" placeholder="password">
            <button type="submit">Login</button>
        </div>
        <a href="#" th:href="@{/register}">Dont have an acoount? <p>Register</p></a>
    </form>

    </main>
</div>
</body>
</html>