<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div class="container">
<main class="main-content" layout:fragment="content">

    <form action="#" class="form-add" method="post" th:action="@{/register}" th:object="${user}">
        <h2>Create new account</h2>
        <div class="form-inside">
            <p class="form-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Errors of email</p>
            <input type="text" th:field="*{email}" placeholder="email" required>
            <p class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Errors of password</p>
            <input type="password" maxlength="200" th:field="*{password}" placeholder="password (min 6 characters)">
            <button type="submit">Register</button>
        </div>
        <a href="#" th:href="@{/login}">Already have an account? <p>Log in</p></a>
    </form>

</main>
</div>
</body>
</html>