<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Human</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">

    <nav class="navbar">
        <a href="#" th:href="@{/}"><h1 class="nav-title">Project Human</h1></a>
        <ul class="nav-links">
            <li class="nav-item"><a href="#">Help</a></li>
            <li class="nav-item"><a href="#" th:href="@{/login}">Log in</a></li>
        </ul>
    </nav>

    <form action="#" class="form-add" method="post" th:action="@{/register}" th:object="${user}">
        <h2>Create new account</h2>
        <div class="form-inside">
            <p class="form-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Errors of email</p>
            <input type="text" th:field="*{email}" placeholder="email" required>
            <p class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Errors of password</p>
            <input type="password" maxlength="200" th:field="*{password}" placeholder="password (min 6 characters)">
            <button type="submit">Register</button>
        </div>
        <a href="#" th:href="@{/login}">Already have an account? <p>Log in</p></a>
    </form>
    <footer>
        Github: szvmczekk
    </footer>
</div>
</body>
</html>