<!doctype html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://kit.fontawesome.com/eebc050055.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">

        <section class="cards-action">
            <div class="action-add">
                <a href="#" th:href="@{/add}">+ New Task</a>
            </div>
        </section>

        <div class="task-container" th:if="${not #lists.isEmpty(tasks)}">
            <div class="task-card" th:each="task : ${tasks}">
                <form action="#" class="task-form" method="post" th:action="@{/complete}">
                    <input hidden name="id" th:value="${task.id}" value="#">
                    <button class="task-button" th:classappend="${task.done ? 'done' : ''}" type="submit"></button>
                </form>
                <div class="task-content">
                    <p class="task-title" th:text="${task.title}">Wash dishes</p>
                    <p class="task-description" th:text="${task.description}">Do a 15 minute session of washing
                        dishes</p>
                </div>
                <div class="task-operation-buttons">
                    <a class="task-button-edit" th:href="@{|/edit?id=${task.id}|}" ><i class="fa-solid fa-pen-to-square"></i></a>
                    <form class="task-delete-form" method="post" th:action="@{/delete}">
                        <input hidden name="id" th:value="${task.id}">
                        <button class="task-button-delete" type="submit"><i class="fa-solid fa-xmark"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>