:root {
    --soulgrey: #698696;
    --white: #F4FCFB;
    --grey: #ACBCBF;
    --lblue: #5289AD;
    --dblue: #243C4C;
    --soulgrey-rgb: 105, 134, 150;
    --white-rgb: 244, 252, 251;
    --grey-rgb: 172, 188, 191;
    --lblue-rgb: 82, 137, 173;
    --dblue-rgb: 36, 60, 76;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 10px auto;
}

body {
    background-color: var(--grey);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--soulgrey);
    box-shadow: 0 0 10px 1px rgba(var(--soulgrey-rgb), 0.5);
    background-color: var(--lblue);
    border-radius: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 15%;
}

.nav-item {
    margin: 5px;
    padding: 20px;
    border: 1px solid var(--grey);
    border-radius: 10px;
}

.nav-item > a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.navbar > a {
    display: block;
    text-decoration: none;
    margin-left: 15%;
    align-self: center;
}

a > .nav-title {
    align-self: center;
    color: var(--grey);
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
    text-decoration: none;
}

.main-content {
    margin-top: 100px;
}

.task-container {
    border: 2px solid var(--lblue);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(var(--lblue-rgb), 0.5);
}

.task-card {
    margin: 20px;
    padding: 20px;
    border: 2px solid var(--dblue);
    border-radius: 7px;
    gap: 20px;
    align-items: center;
    display: flex;
}

.task-button {
    border-radius: 8px;
    color: var(--white);
    border: 4px solid var(--lblue);
    width: 44px;
    height: 44px;
    background-color: var(--grey);
}

.task-button-delete {
    border-radius: 5px;
    background-color: lightcoral;
    color: var(--white);
    border: none;
    width: 40px;
    height: 40px;
}

.task-card .task-delete-form {
    margin-left: auto;
}

.task-button:hover {
    opacity: 0.8;
}

.task-button-delete:hover {
    background-color: red;
}

.done {
    background-color: var(--lblue);
}

.task-title {
    font-weight: 700;
}

.task-description {
    margin-top: 5px;
}

.cards-action {
    margin: 0 30px;
    display: inline-block;
}

.action-add {
    padding: 5px;
    border: 2px solid var(--lblue);
    border-radius: 7px 7px 0 0;
    background-color: var(--lblue);
    font-weight: 600;
}

.action-add > * {
    text-decoration: none;
    color: inherit;
}

.action-add > a {
    display: block;
    width: 100%;
    height: 100%;
}

.form-add > h2 {
    border-radius: 7px 7px 0 0;
    justify-self: center;
    background-color: var(--lblue);
    padding-top: 20px;
    color: var(--grey);
}

.form-add {
    margin: 100px 34%;
    padding: 0 1%;
    font-size: 1.6rem;
    border: 2px solid var(--grey);
    background-color: var(--lblue);
    border-radius: 10px;
}

.form-inside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.form-inside > input {
    padding: 10px;
    border: none;
    box-shadow: 0 0 8px 2px rgba(var(--grey-rgb), 1);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.form-inside > button {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}

.form-inside > button:hover {
    color: var(--lblue);
}

.form-add > a{
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.form-add > a > p {
    display: inline;
    color: var(--grey);
}

.not-found {
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-error {
    font-size: 0.9rem;
    color: red;
}

footer {
    margin-top: 50px;
    text-align: center;
    border: 2px solid var(--lblue);
    padding: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--grey);
    background-color: var(--lblue);
    box-shadow: 0 0 10px 5px rgba(var(--lblue-rgb), 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    align-self: center;
    justify-self: center;
}